* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-darkgrey: #4a4a4a;
  --clr-lightgrey: #636363;
  --clr-darkorange: #f5793b;
  --clr-lightorange: #f79a6b;
  --ff-primary: 'Josefin Sans', sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-body: 1.125rem;
  }
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  background-color: var(--clr-light);
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--clr-darkorange);
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 2rem;
  }
  .container-md {
    padding: 0 2rem;
  }
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-lightgrey);
  overflow: hidden;
}

.nav {
  padding: 0.8rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-darkorange);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger {
  color: var(--clr-dark);
}

.nav.fix-nav a:hover {
  color: var(--clr-light);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.top-nav {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
  }
  .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--clr-darkorange);
    padding: 1rem 1.6rem;
  }
  .top-nav .logo {
    color: #fff;
  }
  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }
  .cart-icon {
    display: block;
    font-size: 3rem;
  }
  .hamburger {
    display: block;
    font-size: 3rem;
    padding: .5rem;
    cursor: pointer;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 1.6rem;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  .nav.fix-nav .nav-link {
    color: var(--clr-darkorange);
  }
  .nav-list a:hover {
    color: var(--clr-darkorange);
  }
  .nav-link.icon {
    display: none;
  }
  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .nav-show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: var(--clr-lightorange);
  overflow: hidden;
}

.colour-palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a {
  height: 100px;
  width: 100px;
  background-color: #4a4a4a;
}

.b {
  height: 100px;
  width: 100px;
  background-color: #f5793b;
}

.c {
  height: 100px;
  width: 100px;
  background-color: #fff;
}

.d {
  height: 100px;
  width: 100px;
  background-color: #636363;
}

.e {
  height: 100px;
  width: 100px;
  background-color: #303030;
}

.f {
  height: 100px;
  width: 100px;
  background-color: #f79a6b;
}
/*# sourceMappingURL=style.css.map */